Repository stimm-ai/stimm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # 1. RUFF LOCAL (via uv)
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]

      # 2. PRETTIER LOCAL (via npm dans src/front)
      # L'option --prefix permet d'utiliser le node_modules du sous-dossier
      - id: prettier
        name: prettier
        entry: npm exec --prefix src/front -- prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown, yaml]

      # 3. SECURITY (Local)
      - id: bandit
        name: bandit
        entry: uv run bandit -r src/
        language: system
        types: [python]
        files: ^src/
      - id: semgrep
        name: semgrep
        entry: uv run semgrep scan --config=auto --exclude='docker-compose.yml' --exclude='docker/**' --exclude='*.env.example' .
        language: system
        types_or: [python, javascript, ts, tsx]
        pass_filenames: false

      # 4. DEPENDENCY AUDITS (Local)
      - id: pip-audit
        name: pip-audit
        entry: uv run pip-audit
        language: system
        types: [python]
        pass_filenames: false
      - id: npm-audit
        name: npm-audit
        entry: npm audit --prefix src/front --audit-level=moderate
        language: system
        always_run: true
        pass_filenames: false

      # 5. FRONTEND SECURITY LINT
      - id: front-security-lint
        name: frontend-security-lint
        entry: npm run --prefix src/front lint:security
        language: system
        files: ^src/front/
        pass_filenames: false

Implement feature X to enhance user experience and fix bug Y in module Z
  src/stimm/providers.json
Due: prettier

fix: remove src/livekit stubs that shadow real livekit-agents in editable installs
  src/livekit/__init__.py
  src/livekit/agents.py
  src/livekit/api/__init__.py
  src/livekit/plugins/__init__.py
  src/livekit/plugins/anthropic.py
  src/livekit/plugins/assemblyai.py
  src/livekit/plugins/asyncai.py
  src/livekit/plugins/aws.py
  src/livekit/plugins/azure.py
  src/livekit/plugins/cartesia.py
  src/livekit/plugins/clova.py
  src/livekit/plugins/deepgram.py
  src/livekit/plugins/elevenlabs.py
  src/livekit/plugins/fal.py
  src/livekit/plugins/google.py
  src/livekit/plugins/groq.py
  src/livekit/plugins/openai.py
  src/livekit/plugins/rime.py
  src/livekit/plugins/silero.py
  src/livekit/plugins/speechmatics.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: update purge_livekit_rooms script to include agent dispatch deletion in documentation and functionality
  scripts/purge_livekit_rooms.py
  uv.lock
Due: ruff, ruff-format, semgrep, pip-audit

Add Hume TTS provider and update STT/TTS configuration
  livekit/__init__.py
  livekit/plugins/__init__.py
  scripts/sync_livekit_plugins.py
  src/stimm/providers.json
  src/stimm/providers_runtime.json
  src/stimm/worker.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat: add Hume plugin to optional dependencies
  pyproject.toml
  uv.lock
Due: none

feat: enhance STT/TTS functionality for Hume provider and add support for additional providers
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: update Hume provider default model and presets configuration
  src/stimm/providers.json
Due: prettier

fix: refine PYTHONPATH setup for isolated interpreter to prevent ImportError
  scripts/sync_livekit_plugins.py
Due: ruff, ruff-format, semgrep, pip-audit

fix: prevent repo livekit/ from shadowing installed packages in CI
  .github/workflows/ci.yml
  scripts/validate_runtime_contract.py
  uv.lock
Due: ruff, ruff-format, prettier, semgrep, pip-audit

fix: trigger release workflow on stimm-v* tags from release-please
  .github/workflows/release.yml
  uv.lock
Due: prettier

fix: split release workflow by tag prefix for independent npm/PyPI releases
  .github/workflows/release.yml
  uv.lock
Due: prettier

chore: bump protocol-ts to 0.1.8 to sync with stimm
  packages/protocol-ts/package.json
  uv.lock
Due: prettier

chore: release 0.1.10 — fix CI import-check using local dev venv path
  .github/workflows/ci.yml
  .release-please-manifest.json
  pyproject.toml
  src/stimm/__init__.py
  uv.lock
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

chore: release 0.1.11 — fix uv sync --all-extras flag in CI
  .github/workflows/ci.yml
  .release-please-manifest.json
  pyproject.toml
  src/stimm/__init__.py
  uv.lock
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix: update plugin URL pattern + sync catalog for LiveKit docs restructure
  .release-please-manifest.json
  pyproject.toml
  scripts/sync_livekit_plugins.py
  src/stimm/__init__.py
  src/stimm/providers.json
  uv.lock
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix: use uv-managed .venv for catalog introspection in CI
  .github/workflows/ci.yml
  src/stimm/providers.json
Due: prettier

ci: remove flaky providers.json --check from release path; add scheduled sync-providers workflow
  .github/workflows/ci.yml
  .github/workflows/sync-providers.yml
Due: prettier

fix: enhance README with logo, description, and badges for better visibility
  README.md
Due: prettier

fix: update README and overview documentation to clarify Optimistic VUI concept and improve descriptions
  README.md
  website/docs/getting-started/overview.md
Due: prettier

docs: add Resemble Detect integration guide
  website/docs/integrations/resemble-detect.md
  website/sidebars.ts
Due: prettier, semgrep

Document Resemble Signal integration
  website/docs/integrations/resemble-detect.md
Due: prettier

fix(docs): serve site from custom domain stimm.ai
  README.md
  website/docusaurus.config.ts
  website/static/CNAME
Due: prettier, semgrep

docs(website): add Signal landing page at the site root
  website/docs/getting-started/overview.md
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: prettier, semgrep

feat(website): promote Signal into a design system, new mark, MIT licence
  .github/assets/logo_stimm_h.png
  LICENSE
  README.md
  website/docusaurus.config.ts
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/static/img/favicon.png
  website/static/img/logo_stimm_h.png
  website/static/img/og-cover.png
  website/static/img/stimm-avatar.png
  website/static/img/stimm-mark.svg
Due: prettier, semgrep

feat(website): light variant for the landing page
  website/src/css/custom.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: prettier, semgrep

build: bump livekit-agents and plugins to 1.8, refresh the lock and CI actions
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/sync-providers.yml
  AGENT.md
  README.md
  docker/agent/agent.py
  examples/basic/voice_agent.py
  pyproject.toml
  scripts/sync_livekit_plugins.py
  src/stimm/worker.py
  tests/test_livekit_api.py
  tests/test_protocol.py
  uv.lock
  website/docs/integrations/supervisor-observability.md
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

build: bump livekit-agents and plugins to 1.8, refresh the lock and CI actions (#25)
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/sync-providers.yml
  AGENT.md
  README.md
  docker/agent/agent.py
  examples/basic/voice_agent.py
  pyproject.toml
  scripts/sync_livekit_plugins.py
  src/stimm/worker.py
  tests/test_livekit_api.py
  tests/test_protocol.py
  uv.lock
  website/docs/integrations/supervisor-observability.md
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix: parse LiveKit's per-section llms.txt in the provider sync
  .github/workflows/sync-providers.yml
  scripts/sync_livekit_plugins.py
  tests/fixtures/livekit_agents_llms.txt
  tests/test_sync_livekit_plugins.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

fix: repair the daily provider catalog sync after LiveKit's llms.txt restructure (#24)
  .github/workflows/sync-providers.yml
  scripts/sync_livekit_plugins.py
  src/stimm/providers.json
  tests/fixtures/livekit_agents_llms.txt
  tests/test_sync_livekit_plugins.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

fix(room): put the room grant into the tokens StimmRoom mints
  examples/basic/supervisor.py
  livekit/api/__init__.py
  src/stimm/room.py
  tests/test_room.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix(worker): pass a provider plugin only the arguments it takes
  src/stimm/worker.py
  tests/test_worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix(room): put the room grant into the tokens StimmRoom mints (#27)
  examples/basic/supervisor.py
  livekit/api/__init__.py
  src/stimm/room.py
  tests/test_room.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix(worker): pass a provider plugin only the arguments it takes (#28)
  src/stimm/worker.py
  tests/test_worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: supervisor-provided speech
  README.md
  packages/protocol-ts/src/index.ts
  packages/protocol-ts/src/messages.ts
  packages/protocol-ts/src/supervisor-client.ts
  src/stimm/__init__.py
  src/stimm/protocol.py
  src/stimm/supervisor.py
  src/stimm/voice_agent.py
  tests/test_livekit_api.py
  tests/test_protocol.py
  tests/test_speech.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat: supervisor-provided speech (#29)
  README.md
  packages/protocol-ts/src/index.ts
  packages/protocol-ts/src/messages.ts
  packages/protocol-ts/src/supervisor-client.ts
  src/stimm/__init__.py
  src/stimm/protocol.py
  src/stimm/supervisor.py
  src/stimm/voice_agent.py
  tests/test_livekit_api.py
  tests/test_protocol.py
  tests/test_speech.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat(examples): digital twin voice agent on /ask
  .github/workflows/ci.yml
  examples/digital-twin/.dockerignore
  examples/digital-twin/.gitignore
  examples/digital-twin/Dockerfile
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/ask.py
  examples/digital-twin/requirements.txt
  examples/digital-twin/tests/conftest.py
  examples/digital-twin/tests/fixtures/ask_answer.sse
  examples/digital-twin/tests/test_agent.py
  examples/digital-twin/tests/test_ask.py
  examples/digital-twin/tests/test_twin.py
  examples/digital-twin/twin.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(examples): speak /ask's light markdown as plain sentences
  examples/digital-twin/README.md
  examples/digital-twin/ask.py
  examples/digital-twin/tests/fixtures/ask_list.sse
  examples/digital-twin/tests/test_ask.py
  examples/digital-twin/tests/test_twin.py
  examples/digital-twin/twin.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(examples): clamp the settlement to one session and settle on close
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(examples): digital twin voice agent on /ask (#30)
  .github/workflows/ci.yml
  examples/digital-twin/.dockerignore
  examples/digital-twin/.gitignore
  examples/digital-twin/Dockerfile
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/ask.py
  examples/digital-twin/requirements.txt
  examples/digital-twin/tests/conftest.py
  examples/digital-twin/tests/fixtures/ask_answer.sse
  examples/digital-twin/tests/fixtures/ask_list.sse
  examples/digital-twin/tests/test_agent.py
  examples/digital-twin/tests/test_ask.py
  examples/digital-twin/tests/test_twin.py
  examples/digital-twin/twin.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit
