Repository stimm-ai/stimm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # 1. RUFF LOCAL (via uv)
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]

      # 2. PRETTIER LOCAL (via npm dans src/front)
      # L'option --prefix permet d'utiliser le node_modules du sous-dossier
      - id: prettier
        name: prettier
        entry: npm exec --prefix src/front -- prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown, yaml]

      # 3. SECURITY (Local)
      - id: bandit
        name: bandit
        entry: uv run bandit -r src/
        language: system
        types: [python]
        files: ^src/
      - id: semgrep
        name: semgrep
        entry: uv run semgrep scan --config=auto --exclude='docker-compose.yml' --exclude='docker/**' --exclude='*.env.example' .
        language: system
        types_or: [python, javascript, ts, tsx]
        pass_filenames: false

      # 4. DEPENDENCY AUDITS (Local)
      - id: pip-audit
        name: pip-audit
        entry: uv run pip-audit
        language: system
        types: [python]
        pass_filenames: false
      - id: npm-audit
        name: npm-audit
        entry: npm audit --prefix src/front --audit-level=moderate
        language: system
        always_run: true
        pass_filenames: false

      # 5. FRONTEND SECURITY LINT
      - id: front-security-lint
        name: frontend-security-lint
        entry: npm run --prefix src/front lint:security
        language: system
        files: ^src/front/
        pass_filenames: false

docs: add CI/CD handoff for release workflows
  docs/CI_CD_HANDOFF.md
Due: prettier

Refactor code structure and remove redundant sections for improved readability and maintainability
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docker/agent/Dockerfile
  docker/agent/agent.py
  docker/agent/requirements.txt
  examples/basic/supervisor.py
  pyproject.toml
  scripts/bump-version
  src/stimm/protocol.py
  src/stimm/room.py
  src/stimm/supervisor.py
  src/stimm/voice_agent.py
  tests/test_protocol.py
  tests/test_supervisor.py
  tests/test_voice_agent.py
  uv.lock
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

chore: update repository URLs and enhance release workflow for trusted publishing
  .github/workflows/release.yml
  docs/CI_CD_HANDOFF.md
  packages/protocol-ts/package.json
  pyproject.toml
  specs/stimm-library-extraction-spec.md
Due: prettier

fix: CI - add setup_env.sh, fix uv sync --extra dev, remove broken semgrep from lint
  .github/workflows/ci.yml
  scripts/setup_env.sh
Due: prettier

fix: remove pytest marker filter, no tests are marked
  .github/workflows/ci.yml
Due: prettier

fix: update version to 0.1.2 in package.json, pyproject.toml, and uv.lock
  packages/protocol-ts/package.json
  pyproject.toml
  uv.lock
Due: prettier

docs: fix release process order (push commit before tag)
  docs/CI_CD_HANDOFF.md
  scripts/bump-version
Due: prettier

fix(examples): use AgentSession+JobContext entrypoint (livekit-agents v1)
  examples/basic/voice_agent.py
Due: ruff, ruff-format, semgrep, pip-audit

chore: add Release Please for automated version management
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier

fix: update version to 0.1.2 in package-lock.json and enhance entrypoint to keep alive until disconnection
  examples/basic/voice_agent.py
  packages/protocol-ts/package-lock.json
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat: implement ConversationSupervisor, RoomManager, and worker for multi-session voice management
  src/stimm/__init__.py
  src/stimm/conversation_supervisor.py
  src/stimm/room_manager.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: enhance ConversationSupervisor and VoiceAgent for improved context handling and instruction synchronization
  src/stimm/conversation_supervisor.py
  src/stimm/voice_agent.py
  src/stimm/worker.py
  tests/test_voice_agent.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add backend decision handling and input formatting to ConversationSupervisor
  src/stimm/conversation_supervisor.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: update process method in ConversationSupervisor and Worker to include optional system prompt
  src/stimm/conversation_supervisor.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: enhance transcript handling in ConversationSupervisor and Worker to prevent duplicate entries
  src/stimm/conversation_supervisor.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: enhance logging and deduplication handling in ConversationSupervisor, VoiceAgent, and Worker
  src/stimm/conversation_supervisor.py
  src/stimm/voice_agent.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

refactor(worker): improve provider-specific param mapping and formatting
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat(worker): enhance TTS constructor selection for Google providers
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add provider catalog and load functionality from providers.json
  src/stimm/providers.json
  src/stimm/providers.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat(room): implement inactivity timeout and watchdog for automatic room shutdown
  src/stimm/room.py
  src/stimm/supervisor.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

Enhance provider management with runtime contract and alias support
  .github/workflows/ci.yml
  README.md
  scripts/sync_livekit_plugins.py
  scripts/validate_runtime_contract.py
  src/stimm/providers.json
  src/stimm/providers.py
  src/stimm/providers_runtime.json
  src/stimm/worker.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

Enhance providers_runtime.json by adding constructor fields for STT, TTS, and LLM plugins to improve instantiation clarity and modularity.
  .github/workflows/ci.yml
  .gitignore
  README.md
  pyproject.toml
  scripts/dev_build.sh
  scripts/sync_livekit_plugins.py
  scripts/validate_runtime_contract.py
  src/stimm/providers.json
  src/stimm/providers_runtime.json
  uv.lock
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(provider): enhance provider catalog with new helper functions and extras resolution
  README.md
  src/stimm/__init__.py
  src/stimm/providers.py
  tests/test_providers.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat(conversation_supervisor): implement instant feedback context injection and improve acknowledgment handling
  src/stimm/conversation_supervisor.py
  src/stimm/room_manager.py
  src/stimm/voice_agent.py
  tests/test_conversation_supervisor.py
  tests/test_voice_agent.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add script to purge LiveKit rooms and enhance conversation supervisor with instant feedback handling
  README.md
  scripts/purge_livekit_rooms.py
  src/stimm/conversation_supervisor.py
  src/stimm/voice_agent.py
  tests/test_conversation_supervisor.py
  tests/test_voice_agent.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

refactor(conversation_supervisor): streamline instant feedback handling and remove unused methods
  src/stimm/conversation_supervisor.py
  tests/test_conversation_supervisor.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: initialize Docusaurus website with essential configurations
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .gitignore
  AGENT.md
  README.md
  docs/CI_CD_HANDOFF.md
  docs/EXTENSION_WIZARD_INTEGRATION.md
  docs/SUPERVISOR_OBSERVABILITY_INTEGRATION.md
  src/stimm/conversation_supervisor.py
  website/docs/getting-started/installation.md
  website/docs/getting-started/overview.md
  website/docs/getting-started/quickstart.md
  website/docs/integrations/agent-md.md
  website/docs/integrations/wizard.md
  website/docs/reference/providers-catalog.md
  website/docs/reference/runtime-contract.md
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/sidebars.ts
  website/src/css/custom.css
  website/static/img/logo_stimm_h.png
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat: update integration documentation and add supervisor observability logs guide
  AGENT.md
  README.md
  docs/EXTENSION_WIZARD_INTEGRATION.md
  specs/stimm-library-extraction-spec.md
  website/docs/integrations/supervisor-observability.md
  website/docs/integrations/wizard.md
  website/sidebars.ts
Due: prettier, semgrep

fix: use timedelta for AccessToken.ttl (livekit-api compat)
  src/stimm/room.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: supervisor-client onData optional params for livekit-client compat
  packages/protocol-ts/package-lock.json
  packages/protocol-ts/src/supervisor-client.ts
Due: prettier, semgrep
