Repository stimm-ai/stimm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  language: system

ruff-format:
  name: ruff-format
  entry: uv run ruff format --force-exclude
  language: system

prettier:
  name: prettier
  entry: npm exec --prefix src/front -- prettier --write --ignore-unknown
  language: system

bandit:
  name: bandit
  entry: uv run bandit -r src/
  language: system

semgrep:
  name: semgrep
  entry: uv run semgrep scan --config=auto --exclude='docker-compose.yml' --exclude='docker/**' --exclude='*.env.example' .
  language: system
  pass_filenames: false

pip-audit:
  name: pip-audit
  entry: uv run pip-audit
  language: system
  pass_filenames: false

front-security-lint:
  name: frontend-security-lint
  entry: npm run --prefix src/front lint:security
  language: system
  pass_filenames: false

fix: update version to 0.1.2 in package.json, pyproject.toml, and uv.lock
  packages/protocol-ts/package.json
  pyproject.toml
  uv.lock
Due: prettier

refactor(conversation_supervisor): streamline instant feedback handling and remove unused methods
  src/stimm/conversation_supervisor.py
  tests/test_conversation_supervisor.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

refactor(worker): improve provider-specific param mapping and formatting
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat(room): implement inactivity timeout and watchdog for automatic room shutdown
  src/stimm/room.py
  src/stimm/supervisor.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat(conversation_supervisor): implement instant feedback context injection and improve acknowledgment handling
  src/stimm/conversation_supervisor.py
  src/stimm/room_manager.py
  src/stimm/voice_agent.py
  tests/test_conversation_supervisor.py
  tests/test_voice_agent.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

docs: add CI/CD handoff for release workflows
  docs/CI_CD_HANDOFF.md
Due: prettier

feat(provider): enhance provider catalog with new helper functions and extras resolution
  README.md
  src/stimm/__init__.py
  src/stimm/providers.py
  tests/test_providers.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix(examples): use AgentSession+JobContext entrypoint (livekit-agents v1)
  examples/basic/voice_agent.py
Due: ruff, ruff-format, semgrep, pip-audit

feat: enhance logging and deduplication handling in ConversationSupervisor, VoiceAgent, and Worker
  src/stimm/conversation_supervisor.py
  src/stimm/voice_agent.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: initialize Docusaurus website with essential configurations
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .gitignore
  AGENT.md
  README.md
  docs/CI_CD_HANDOFF.md
  docs/EXTENSION_WIZARD_INTEGRATION.md
  docs/SUPERVISOR_OBSERVABILITY_INTEGRATION.md
  src/stimm/conversation_supervisor.py
  website/docs/getting-started/installation.md
  website/docs/getting-started/overview.md
  website/docs/getting-started/quickstart.md
  website/docs/integrations/agent-md.md
  website/docs/integrations/wizard.md
  website/docs/reference/providers-catalog.md
  website/docs/reference/runtime-contract.md
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/sidebars.ts
  website/src/css/custom.css
  website/static/img/logo_stimm_h.png
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

Refactor code structure and remove redundant sections for improved readability and maintainability
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docker/agent/Dockerfile
  docker/agent/agent.py
  docker/agent/requirements.txt
  examples/basic/supervisor.py
  pyproject.toml
  scripts/bump-version
  src/stimm/protocol.py
  src/stimm/room.py
  src/stimm/supervisor.py
  src/stimm/voice_agent.py
  tests/test_protocol.py
  tests/test_supervisor.py
  tests/test_voice_agent.py
  uv.lock
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix: CI - add setup_env.sh, fix uv sync --extra dev, remove broken semgrep from lint
  .github/workflows/ci.yml
  scripts/setup_env.sh
Due: prettier

fix: update version to 0.1.2 in package-lock.json and enhance entrypoint to keep alive until disconnection
  examples/basic/voice_agent.py
  packages/protocol-ts/package-lock.json
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat: enhance transcript handling in ConversationSupervisor and Worker to prevent duplicate entries
  src/stimm/conversation_supervisor.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: remove pytest marker filter, no tests are marked
  .github/workflows/ci.yml
Due: prettier

feat: add provider catalog and load functionality from providers.json
  src/stimm/providers.json
  src/stimm/providers.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

chore: add Release Please for automated version management
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier

feat: update process method in ConversationSupervisor and Worker to include optional system prompt
  src/stimm/conversation_supervisor.py
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: update integration documentation and add supervisor observability logs guide
  AGENT.md
  README.md
  docs/EXTENSION_WIZARD_INTEGRATION.md
  specs/stimm-library-extraction-spec.md
  website/docs/integrations/supervisor-observability.md
  website/docs/integrations/wizard.md
  website/sidebars.ts
Due: prettier, semgrep

feat: add lightweight stub packages for LiveKit plugins and implement basic class structures
  src/stimm/livekit/__init__.py
  src/stimm/livekit/plugins/__init__.py
  src/stimm/livekit/plugins/azure.py
  src/stimm/livekit/plugins/deepgram.py
  src/stimm/livekit/plugins/google.py
  src/stimm/livekit/plugins/openai.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add top-level livekit stub package for CI import-check
  src/livekit/__init__.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add livekit stub packages and minimal class structures for CI import checks
  livekit/__init__.py
  livekit/plugins/__init__.py
  livekit/plugins/anthropic.py
  livekit/plugins/assemblyai.py
  livekit/plugins/asyncai.py
  livekit/plugins/aws.py
  livekit/plugins/azure.py
  livekit/plugins/cartesia.py
  livekit/plugins/clova.py
  livekit/plugins/deepgram.py
  livekit/plugins/elevenlabs.py
  livekit/plugins/fal.py
  livekit/plugins/google.py
  livekit/plugins/groq.py
  livekit/plugins/openai.py
  livekit/plugins/rime.py
  livekit/plugins/speechmatics.py
  src/livekit/plugins/__init__.py
  src/livekit/plugins/anthropic.py
  src/livekit/plugins/assemblyai.py
  src/livekit/plugins/asyncai.py
  src/livekit/plugins/aws.py
  src/livekit/plugins/azure.py
  src/livekit/plugins/cartesia.py
  src/livekit/plugins/clova.py
  src/livekit/plugins/deepgram.py
  src/livekit/plugins/elevenlabs.py
  src/livekit/plugins/fal.py
  src/livekit/plugins/google.py
  src/livekit/plugins/groq.py
  src/livekit/plugins/openai.py
  src/livekit/plugins/rime.py
  src/livekit/plugins/speechmatics.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add beta class with GeminiTTS structure to Google plugin
  livekit/plugins/google.py
  scripts/sync_livekit_plugins.py
  src/livekit/plugins/google.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: add minimal stub of livekit.agents.Agent for testing in both repo-root and src paths
  livekit/agents.py
  src/livekit/agents.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

Implement feature X to enhance user experience and fix bug Y in module Z
  src/stimm/providers.json
Due: prettier

fix: update Python path for LiveKit plugin validation scripts in CI workflow
  .github/workflows/ci.yml
Due: prettier

fix: reorder import statements for consistency in agent modules
  docker/agent/agent.py
  examples/basic/voice_agent.py
Due: ruff, ruff-format, semgrep, pip-audit

fix: reorder import statements for consistency in worker module
  src/stimm/worker.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: remove unnecessary blank line in voice_agent.py
  src/stimm/voice_agent.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: implement AccessToken and VideoGrants classes; add VAD plugin and update CI configuration
  .github/workflows/ci.yml
  livekit/agents.py
  livekit/api/__init__.py
  livekit/plugins/__init__.py
  livekit/plugins/silero.py
  src/livekit/agents.py
  src/livekit/api/__init__.py
  src/livekit/plugins/__init__.py
  src/livekit/plugins/silero.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  bandit: any of: ^src/ and \.py$
  semgrep: any of: \.py$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  pip-audit: any of: \.py$
  front-security-lint: any of: ^src/front/
