Repository stimm-ai/stimm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

ruff:
  name: ruff
  entry: uv run ruff check --fix --force-exclude
  language: system

ruff-format:
  name: ruff-format
  entry: uv run ruff format --force-exclude
  language: system

prettier:
  name: prettier
  entry: npm exec --prefix src/front -- prettier --write --ignore-unknown
  language: system

bandit:
  name: bandit
  entry: uv run bandit -r src/
  language: system

semgrep:
  name: semgrep
  entry: uv run semgrep scan --config=auto --exclude='docker-compose.yml' --exclude='docker/**' --exclude='*.env.example' .
  language: system
  pass_filenames: false

pip-audit:
  name: pip-audit
  entry: uv run pip-audit
  language: system
  pass_filenames: false

front-security-lint:
  name: frontend-security-lint
  entry: npm run --prefix src/front lint:security
  language: system
  pass_filenames: false

fix: Updates agent update logic and cache invalidation
  src/services/agents_admin/agent_service.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

chore: Add security and dependency checks to pre-commit hooks
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/front/package.json
  uv.lock
Due: prettier, front-security-lint

chore(front): resolve SonarJS quality and security lint errors
  src/front/app/page.tsx
  src/front/components/agent/AgentAdminPage.tsx
  src/front/components/agent/AgentCard.tsx
  src/front/components/rag/DocumentUpload.tsx
  src/front/components/rag/RagAdminPage.tsx
  src/front/components/stimm/StimmInterface.tsx
  src/front/components/ui/NavigationBar.tsx
  src/front/components/ui/table.tsx
  src/front/eslint.security.config.mjs
  src/front/hooks/use-livekit.ts
  src/front/hooks/use-telemetry.ts
  src/front/lib/environment-config.ts
  src/front/lib/livekit-client.ts
Due: prettier, semgrep, front-security-lint

chore (security): Add input validation to prevent object injection vulnerabilities
  src/front/components/agent/AgentEditPage.tsx
  src/front/components/rag/DocumentUpload.tsx
  src/front/components/rag/RagEditPage.tsx
  src/front/components/ui/PageHeaderActions.tsx
  src/front/components/ui/table.tsx
  src/front/hooks/use-livekit.ts
  src/front/lib/environment-config.ts
  src/front/lib/theme.ts
Due: prettier, semgrep, front-security-lint

chore: Updates security scanning tools and configurations
  .github/workflows/ci.yml
  .semgrep.yml
  pyproject.toml
  src/front/.eslintrc.security.json
  src/front/eslint.security.config.mjs
  src/front/package.json
  src/front/sonar-project.properties
  uv.lock
Due: prettier, semgrep, front-security-lint

chore: Update Bandit security check to scan only the src/ directory
  .github/workflows/ci.yml
  docs/contributors/contributing.md
  pyproject.toml
  uv.lock
Due: prettier

chore(security): Suppress security warnings for known issues
  bandit_report.txt
  src/cli/agent_runner.py
  src/cli/livekit_client.py
  src/cli/main.py
  src/front/package-lock.json
  src/front/package.json
  src/scripts/preload_rag_models.py
  src/services/embeddings/onnx_models.py
  src/services/retrieval/retrieval_logic.py
  src/services/sip_bridge_integration.py
  src/services/stt/routes.py
  src/services/vad/silero_service.py
  src/services/webrtc/signaling.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

chore: Add security and SonarQube scanning tools
  src/front/package-lock.json
  src/front/package.json
Due: prettier, front-security-lint

chore: Add regex and transformers packages to uv.lock
  uv.lock
Due: none

fix: Disable preloading of non-ONNX-compatible embedding models
  src/services/embeddings/onnx_models.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat(ci): Add SAST tools for Python and Next.js
  .github/workflows/ci.yml
  src/front/.eslintrc.security.json
  src/front/sonar-project.properties
Due: prettier, front-security-lint

chore: Remove security scan report
  bandit_report.txt
Due: none

chore: Adds transformers dependency
  pyproject.toml
Due: none

chore: Updates Next.js to v14.2.35
  src/front/package-lock.json
Due: prettier, front-security-lint

chore(security): Removes redundant ESLint disable comment
  src/front/components/ui/table.tsx
Due: prettier, semgrep, front-security-lint

chore: Updates dependency vulnerability scanning tool
  .github/workflows/ci.yml
  docs/contributors/contributing.md
  pyproject.toml
  scripts/check_dependencies.py
  uv.lock
Due: ruff, ruff-format, prettier, semgrep, pip-audit

chore: Adds ONNX-based embedding models to replace PyTorch dependencies
  src/services/embeddings/onnx_models.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: Updates RAG config handling to support null values
  src/front/components/agent/AgentEditPage.tsx
  src/front/components/agent/types.ts
Due: prettier, semgrep, front-security-lint

fix: Improves model caching and security configurations
  src/main.py
  src/scripts/preload_rag_models.py
  src/services/rag/retrieval_engine.py
  src/services/retrieval/retrieval_logic.py
  src/services/shared_streaming.py
  src/services/vad/silero_service.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

docs: Adds security note for trusted source download
  src/services/vad/silero_service.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

chores(tests): Update dependencies and RAG service configuration
  pyproject.toml
  tests/integration/rag/test_rag_conversation_routes.py
  uv.lock
Due: ruff, ruff-format, semgrep, pip-audit

feat(docker): implement multi-stage build and trim dependencies
  README.md
  docker/stimm/Dockerfile
  docker/stimm/entrypoint.sh
  docs/developer/development.md
  docs/usage/cli.md
  pyproject.toml
  uv.lock
Due: prettier

fix: Improve RAG UI form layout and add retrieval verification script
  src/front/components/rag/RagEditPage.tsx
  src/scripts/verify_retrieval_fix.py
  src/services/embeddings/onnx_models.py
  src/services/rag/chatbot_service.py
  src/services/rag/providers/qdrant_internal/qdrant_internal_provider.py
  src/services/rag/retrieval_engine.py
  src/services/retrieval/config.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

fix: use timedelta for AccessToken.ttl (livekit-api compat)
  src/stimm/room.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: supervisor-client onData optional params for livekit-client compat
  packages/protocol-ts/package-lock.json
  packages/protocol-ts/src/supervisor-client.ts
Due: prettier, semgrep

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  bandit: any of: ^src/ and \.py$
  semgrep: any of: \.py$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$
  pip-audit: any of: \.py$
  front-security-lint: any of: ^src/front/
