Repository stimm-ai/stimm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # 1. RUFF LOCAL (via uv)
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]

      # 2. PRETTIER LOCAL (via npm dans src/front)
      # L'option --prefix permet d'utiliser le node_modules du sous-dossier
      - id: prettier
        name: prettier
        entry: npm exec --prefix src/front -- prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown, yaml]

chore: ignore formatting revision in git blame
  .git-blame-ignore-revs
Due: none

ci: Adds linting jobs to CI pipeline
  .github/workflows/ci.yml
Due: prettier

chore: Add system dependencies for audio processing
  .github/workflows/ci.yml
Due: prettier

docs: Add linting and formatting checks to CI pipeline
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  docs/developer-guide/development.md
  pyproject.toml
  uv.lock
Due: prettier

chore: Adds Prettier and ESLint integration
  src/front/.eslintrc.json
  src/front/.prettierrc
  src/front/package.json
Due: prettier

chore: Increases Ruff line length limit to 120
  pyproject.toml
Due: none

chore(deps): Replaces Black, isort, and flake8 with Ruff for linting and formatting
  pyproject.toml
Due: none

style: apply global formatting (Ruff for Py, Prettier for TS)
  .pre-commit-config.yaml
Due: prettier

ci: Replaces Black and isort with Ruff for linting and formatting
  .github/workflows/ci.yml
Due: prettier

fix: Optimizes streaming test by validating with first audio chunk
  tests/integration/tts/test_tts_streaming.py
Due: ruff, ruff-format

docs: Updates tooling to use ruff instead of black, isort, and flake8
  CONTRIBUTING.md
  README.md
Due: prettier

docs: Organizes documentation into logical categories
  docs/api-reference/python.md
  docs/api-reference/rest.md
  docs/contributors/changelog.md
  docs/contributors/contributing.md
  docs/contributors/license.md
  docs/developer/adding-providers.md
  docs/developer/architecture-overview.md
  docs/developer/components.md
  docs/developer/data-flow.md
  docs/developer/development.md
  docs/developer/integration-examples.md
  docs/developer/sip-integration.md
  docs/developer/testing.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/index.md
  docs/project/contributing.md
  docs/usage/cli.md
  docs/usage/managing-agents.md
  docs/usage/managing-rag.md
  docs/usage/web-interface.md
  mkdocs.yml
Due: prettier

fix: Updates Deepgram TTS provider to match API specifications
  src/services/provider_constants.json
  src/services/tts/providers/deepgram/deepgram_provider.py
Due: ruff, ruff-format, prettier

feat: Improves audio packetization and playback pacing in WebRTC media handler
  src/services/webrtc/media_handler.py
Due: ruff, ruff-format

feat: Add Hume.ai TTS provider implementation
  src/services/agents_admin/dev_agent_creator.py
  src/services/agents_admin/provider_registry.py
  src/services/provider_constants.json
  src/services/tts/providers/hume/__init__.py
  src/services/tts/providers/hume/hume_provider.py
  src/services/tts/tts.py
  test_hume_simple.py
  tests/conftest.py
  tests/integration/tts/test_tts_streaming.py
Due: ruff, ruff-format, prettier

fix: Updates audio sample rate and output format for hume.ai
  src/services/provider_constants.json
Due: prettier

clean: Removes Hume.ai provider test script
  test_hume_simple.py
Due: ruff, ruff-format

docs: Updates documentation for new AI provider integrations
  docs/developer/components.md
  docs/getting-started/configuration.md
  docs/usage/managing-agents.md
Due: prettier

Revise SECURITY.md for supported versions and reporting
  SECURITY.md
Due: prettier

chore: Adds ONNX-based embedding models to replace PyTorch dependencies
  README.md
  pyproject.toml
  src/scripts/preload_rag_models.py
  src/services/embeddings/__init__.py
  src/services/embeddings/onnx_models.py
  src/services/rag/chatbot_routes.py
  src/services/rag/rag_preloader.py
  src/services/rag/rag_routes.py
  src/services/rag/rag_state.py
  src/services/rag/retrieval_engine.py
  src/services/retrieval/retrieval_logic.py
  uv.lock
Due: ruff, ruff-format, prettier

fix: Disable preloading of non-ONNX-compatible embedding models
  docker/stimm/Dockerfile
  src/services/embeddings/onnx_models.py
  src/services/rag/providers/qdrant_internal/qdrant_internal_provider.py
  src/services/rag/rag_config_service.py
  src/services/rag/rag_preloader.py
  src/services/retrieval/config.py
Due: ruff, ruff-format

feat(ci): Add SAST tools for Python and Next.js
  .github/workflows/ci.yml
  src/front/.eslintrc.security.json
  src/front/sonar-project.properties
Due: prettier

chore: Update Bandit security check to scan only the src/ directory
  .github/workflows/ci.yml
  docs/contributors/contributing.md
  pyproject.toml
  uv.lock
Due: prettier

chore: Add security and SonarQube scanning tools
  src/front/package-lock.json
  src/front/package.json
Due: prettier

fix: Improves model caching and security configurations
  src/main.py
  src/scripts/preload_rag_models.py
  src/services/rag/retrieval_engine.py
  src/services/retrieval/retrieval_logic.py
  src/services/shared_streaming.py
  src/services/vad/silero_service.py
Due: ruff, ruff-format

docs: Adds security note for trusted source download
  src/services/vad/silero_service.py
Due: ruff, ruff-format

chore: Updates dependency vulnerability scanning tool
  .github/workflows/ci.yml
  docs/contributors/contributing.md
  pyproject.toml
  scripts/check_dependencies.py
  uv.lock
Due: ruff, ruff-format, prettier

chore: Updates security scanning tools and configurations
  .github/workflows/ci.yml
  .semgrep.yml
  pyproject.toml
  src/front/.eslintrc.security.json
  src/front/eslint.security.config.mjs
  src/front/package.json
  src/front/sonar-project.properties
  uv.lock
Due: prettier

chore(front): resolve SonarJS quality and security lint errors
  src/front/app/page.tsx
  src/front/components/agent/AgentAdminPage.tsx
  src/front/components/agent/AgentCard.tsx
  src/front/components/rag/DocumentUpload.tsx
  src/front/components/rag/RagAdminPage.tsx
  src/front/components/stimm/StimmInterface.tsx
  src/front/components/ui/NavigationBar.tsx
  src/front/components/ui/table.tsx
  src/front/eslint.security.config.mjs
  src/front/hooks/use-livekit.ts
  src/front/hooks/use-telemetry.ts
  src/front/lib/environment-config.ts
  src/front/lib/livekit-client.ts
Due: prettier

chore: Adds transformers dependency
  pyproject.toml
Due: none

chore: Add regex and transformers packages to uv.lock
  uv.lock
Due: none

chore(security): Removes redundant ESLint disable comment
  src/front/components/ui/table.tsx
Due: prettier

chores(tests): Update dependencies and RAG service configuration
  pyproject.toml
  tests/integration/rag/test_rag_conversation_routes.py
  uv.lock
Due: ruff, ruff-format

feat(docker): implement multi-stage build and trim dependencies
  README.md
  docker/stimm/Dockerfile
  docker/stimm/entrypoint.sh
  docs/developer/development.md
  docs/usage/cli.md
  pyproject.toml
  uv.lock
Due: prettier
