Repository stimm-ai/stimm: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, bandit, semgrep, pip-audit, front-security-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # 1. RUFF LOCAL (via uv)
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --force-exclude
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types: [python]

      # 2. PRETTIER LOCAL (via npm dans src/front)
      # L'option --prefix permet d'utiliser le node_modules du sous-dossier
      - id: prettier
        name: prettier
        entry: npm exec --prefix src/front -- prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown, yaml]

      # 3. SECURITY (Local)
      - id: bandit
        name: bandit
        entry: uv run bandit -r src/
        language: system
        types: [python]
        files: ^src/
      - id: semgrep
        name: semgrep
        entry: uv run semgrep scan --config=auto --exclude='docker-compose.yml' --exclude='docker/**' --exclude='*.env.example' .
        language: system
        types_or: [python, javascript, ts, tsx]
        pass_filenames: false

      # 4. DEPENDENCY AUDITS (Local)
      - id: pip-audit
        name: pip-audit
        entry: uv run pip-audit
        language: system
        types: [python]
        pass_filenames: false
      - id: npm-audit
        name: npm-audit
        entry: npm audit --prefix src/front --audit-level=moderate
        language: system
        always_run: true
        pass_filenames: false

      # 5. FRONTEND SECURITY LINT
      - id: front-security-lint
        name: frontend-security-lint
        entry: npm run --prefix src/front lint:security
        language: system
        files: ^src/front/
        pass_filenames: false

ci: allow running the release workflow on a tag by hand
  .github/workflows/release.yml
Due: prettier

ci: allow running the release workflow on a tag by hand (#31)
  .github/workflows/release.yml
Due: prettier

chore: keep protocol-ts out of 0.1.14, list the livekit 1.8 bump
  .release-please-manifest.json
  CHANGELOG.md
  packages/protocol-ts/CHANGELOG.md
  packages/protocol-ts/package-lock.json
  packages/protocol-ts/package.json
Due: prettier

fix(examples): digital-twin registers its voice plugins on the main thread
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, semgrep, pip-audit

fix(examples): load every installed voice plugin at import; CI tests the Mistral one
  .github/workflows/ci.yml
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

fix(examples): digital-twin registers its voice plugins on the main thread (#33)
  .github/workflows/ci.yml
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat: conversation styles for the relay voice
  README.md
  livekit/agents.py
  src/stimm/__init__.py
  src/stimm/styles.py
  src/stimm/voice_agent.py
  tests/test_livekit_api.py
  tests/test_styles.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix: tighter bridge prompts and guards, after live tests
  README.md
  src/stimm/styles.py
  src/stimm/voice_agent.py
  tests/test_styles.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat: conversation styles for the relay voice (#34)
  README.md
  livekit/agents.py
  src/stimm/__init__.py
  src/stimm/styles.py
  src/stimm/voice_agent.py
  tests/test_livekit_api.py
  tests/test_styles.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat(examples): digital twin bridges each turn in the direct style
  .github/workflows/ci.yml
  examples/digital-twin/.gitignore
  examples/digital-twin/Dockerfile
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/requirements.txt
  examples/digital-twin/tests/test_agent.py
  examples/digital-twin/tests/test_twin.py
  examples/digital-twin/twin.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(examples): digital twin bridges each turn in the direct style (#35)
  .github/workflows/ci.yml
  examples/digital-twin/.gitignore
  examples/digital-twin/Dockerfile
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/requirements.txt
  examples/digital-twin/tests/test_agent.py
  examples/digital-twin/tests/test_twin.py
  examples/digital-twin/twin.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

fix: say a supervisor answer to its end, even when it was ready before say()
  examples/digital-twin/tests/test_live_session.py
  src/stimm/voice_agent.py
  tests/test_speech.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: say a supervisor answer to its end, even when it was ready before say() (#36)
  examples/digital-twin/tests/test_live_session.py
  src/stimm/voice_agent.py
  tests/test_speech.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

chore(examples): pin the digital twin's stimm on the answer fix (#36)
  examples/digital-twin/requirements.txt
Due: none

chore(examples): pin the digital twin's stimm on the answer fix (#36) (#37)
  examples/digital-twin/requirements.txt
Due: none

feat(examples): digital twin bridge on LiveKit Inference (default google/gemma-4-31b-it)
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(examples): digital twin bridge on LiveKit Inference (default google/gemma-4-31b-it) (#38)
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat: the direct style restates and welcomes with assurance, no hesitation sounds
  examples/digital-twin/twin.py
  src/stimm/styles.py
  tests/test_styles.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: a bridge lasts about a second, eight words at most
  src/stimm/styles.py
  tests/test_styles.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: a bridge that says nothing writes a dash, never words about it
  src/stimm/styles.py
  tests/test_styles.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

feat: direct style restates and welcomes with assurance (#39)
  examples/digital-twin/twin.py
  src/stimm/styles.py
  tests/test_styles.py
Due: ruff, ruff-format, bandit, semgrep, pip-audit

fix: the bridge always speaks; the twin's visitor interrupts on voice activity
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  src/stimm/styles.py
  tests/test_styles.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

fix: the bridge always speaks; the twin's visitor interrupts on voice activity (#40)
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  src/stimm/styles.py
  tests/test_styles.py
Due: ruff, ruff-format, prettier, bandit, semgrep, pip-audit

feat(digital-twin): the bridge sounds like the person, in a more expressive voice
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

feat(digital-twin): the bridge sounds like the person, in a more expressive voice (#41)
  examples/digital-twin/README.md
  examples/digital-twin/agent.py
  examples/digital-twin/tests/test_agent.py
Due: ruff, ruff-format, prettier, semgrep, pip-audit

chore(examples): pin the digital twin's stimm on main
  examples/digital-twin/requirements.txt
Due: none

chore(examples): pin the digital twin's stimm on main (#42)
  examples/digital-twin/requirements.txt
Due: none
